* {
    margin: 0;
    padding: 0;
}

body {
font-family: Arial, Helvetica, sans-serif
}

/*------------------ NAV STYLING ------------------*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    font-size: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    background-color: ;                          /* NEEDS COLOR */
    padding: 2% 3% 4% 0%;
    margin-left: 0;
    flex-grow: -7;
    color: ;                                         /* NEEDS COLOR */
    border-radius: 25px;

}

.Nav-links {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -180px; */
    max-width: 750px;
    gap: 2rem;
    font-size: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    transition-duration: 0.3s;
    text-shadow: 1px 1px 2px grey;
    /* text-decoration: underline; */
}

/*------------------ PROFILE STYLING ------------------*/

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
section {
    padding-top: 4%;
    height: 96%;
    margin: 0 160px;
    box-sizing: border-box;
    min-height: fit-content;
}

.section_text, .intro_text {
    margin-top: 16px;
    align-self: center;
    text-align: center;
}

/* ICON & PICTURE STYLING */

#Profile_Picture {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.Github_Icon {
    display: flex;
    justify-content: center;
    margin-top: 390px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}